* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    display: flex;
    color: whitesmoke;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

.navbar {
    border-bottom: 1px #222 solid;
    padding: 8px;
    flex-direction: row;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background: #111;
    border-bottom-right-radius: 32px;
}

.button {
    padding: 8px;
    background: rgb(255, 69, 0);
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
}

.add-button {
    margin-left: 16px;
}

.search-bar {
    margin-left: 20vw;
    padding: 4px;
    background: #333;
    color: whitesmoke;
    font-size:16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: none;
}

.search-button {
    margin-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.log_button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 16px;
}

.nick {
    margin-right: 0px;
    margin-left: auto;
    background: #000;
    padding: 8px;
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.button:hover {
    cursor: pointer;
    background: rgb(230, 44, 0);

}

.post-card {
    border: 1px #222 solid;
    background: #111;
    margin: 16px;
    border-radius: 8px;
    padding: 16px;
}

.post-card p{
    font-size: 20px;
}

.comment-card {
    padding: 8px;
    border-radius: 16px;
    margin: 8px;
}

.comment-card p{
    font-size: 16px;
}