* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    display: flex;
    color: whitesmoke;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.content {
    margin-left: 15vw;
    margin-right: 15vw;
}

.navbar {
    border-bottom: 1px #222 solid;
    padding: 8px;
    flex-direction: row;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background: #111;
}

.button {
    padding: 10px;
    background: rgb(255, 69, 0);
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
}

.add-button {
    margin-left: 16px;
}

.search-bar {
    margin-left: 20vw;
    width: 30vw;
    padding: auto;
    background: #333;
    color: whitesmoke;
    font-size:16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: none;
}

.search-button {
    margin-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.log_button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 16px;
}

.nick {
    margin-right: 0px;
    margin-left: auto;
    border: 1px #222 solid;
    padding: 10px;
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.button:hover {
    cursor: pointer;
    background: rgb(230, 44, 0);

}

.post-card {
    border: 1px #222 solid;
    background: #111;
    margin: 0px;
    border-radius: 8px;
    padding: 32px;
    margin-top: 16px;
}

.post-card p{
    font-size: 20px;
}

.comment-card {
    padding: 8px;
    border-radius: 16px;
    margin: 8px;
}

.comment-card p{
    font-size: 16px;
}

form input {
    font-size: 16px;
    border-radius: 8px;
    width: 60vw;
    padding: 12px 20px;
    margin: 8px;
    background-color: #444;
    box-sizing: border-box;
    color: white;
}

form textarea {
    font-size: 16px;
    border-radius: 8px;
    width: 60vw;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #444;
    box-sizing: border-box;
    color: white;
}

form input[type=submit] {
    background: orangered;
}

input[type=submit]:hover {
    cursor: pointer;
    background: rgb(230, 44, 0);
}

.form-card {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    border: 1px #222 solid;
    background: #111;
    border-radius: 8px;
    padding: 16px;
}