* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background: #000;
    color: whitesmoke;
}


form input {
    font-size: 16px;
    border-radius: 8px;
    width: 50vw;
    padding: 12px;
    margin: 8px;
    background-color: #333;
    box-sizing: border-box;
    color: white;
}

form textarea {
    font-size: 16px;
    border-radius: 8px;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 10vh;
    max-height: 40vh;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #333;
    box-sizing: border-box;
    color: white;
}

input[type=submit] {
    background: #111;
    font-weight: bold;
    border: 1px solid orangered;
}

input[type=submit]:hover {
    cursor: pointer;
    background: orangered;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.content {
    margin-left: 20vw;
    margin-right: 20vw;
}

.navbar {
    width: 100vw;
    border-bottom: 1px #222 solid;
    flex-direction: row;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #111;
}

.button {
    background: #111;
    margin: 0px;
    font-weight: bold;
    padding: 10px 20px;
    border: solid 1px orangered;
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
    background: orangered;

}

.home-button {
    margin-left: 16px;
}

.search-bar {
    margin: 0px;
    margin-left: 20vw;
    margin-right: 0px;
    width: 30vw;
    padding: 10px;
    padding-left: 16px;
    background: #333;
    color: whitesmoke;
    font-size:16px;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-button {
    padding: 10px;
    width: auto;
    margin: 0px;
    margin-left: 0px;
    margin-right: auto;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.log_button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 16px;
}

.nick {
    margin-right: 0px;
    margin-left: 0px;
    border: 1px #222 solid;
    padding: 10px;
    font-size:16px;
    text-decoration: none;
    color: whitesmoke;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.delete-button {
    margin-left: 94%;
    padding: 8px;
    border-radius: 4px;
}

.game-button {
    margin-right: 16px;
    margin-left: auto;
}

.post-card {
    border: 1px #222 solid;
    background: #111;
    margin: 0px;
    border-radius: 8px;
    padding: 32px;
    margin-top: 32px;
}

.post-card p{
    font-size: 20px;
}

.comment-card {
    padding: 8px;
    border-radius: 16px;
    margin: 8px;
}

.comment-card p{
    font-size: 16px;
}

.form-card {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    border: 1px #222 solid;
    background: #111;
    border-radius: 8px;
    padding: 16px;
}
.comment-field {
    padding: 8px;
    width: 85%;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.comment-btn {
    padding: 8px;
    font-weight: bold;
    width: auto;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.perm-btn {
    margin-left: 90%;
}